body{ 
  height:100vh;
  margin:0;
  font-family: 'Open Sans', sans-serif;
}

header{
  min-height:50px;
  background: #6F1C70;
}

footer{
  min-height:50px;
  background:#fff;
  text-align: center;
  font-size: 14px;
}

/* Trick */
body{ 
  display:flex; 
  flex-direction:column;
}

footer{
  margin-top:auto; 
}

article{
  text-align: center;
}

.TituloMenu{
  font-size: 32px;
  margin-top: 64px;
}

.Botao-menu{
  margin: 20px;
  color: #ffffff;
  background-color: #2C4A7A;
  border: none;
  padding: 40px 74px;
  margin-top: 100px;
  border-radius: 10px;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
}

.Botao-menu-menor{
  margin: 20px;
  color: #ffffff;
  background-color: #2C4A7A;
  border: none;
  padding: 40px 74px;
  margin-top: 50px;
  border-radius: 10px;
  font-size: 12px;
  text-decoration: none;
  width: 250px;
  height: 100px;
  cursor: pointer;
}